/* --- Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* --- Reset --- */
body {
  font-family: "Baloo Bhaina 2", cursive;
  position: relative;
  height: 100vh;
}
.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* --- Calculator Container --- */
.calculator-container {
  position: relative;
  border-radius: 1rem;
  background: #f9c56b;
  border-radius: 3rem 3rem 1rem 1rem;
  animation: moveInBottom 1s .2s;
  animation-fill-mode: backwards;
}
.form-container {
  padding: 2rem;
  border-radius: 3rem 3rem 0 0;
  background: rgb(51, 15, 10);
}
#input {
  border-radius: 1rem;
  outline: none;
  border: none;
  background: linear-gradient(
    113deg,
    rgba(251, 216, 156, 1) 11%,
    rgba(255, 255, 255, 1) 13%,
    rgba(255, 255, 255, 1) 18%,
    rgba(251, 216, 156, 1) 23%
  );
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 999;
  width: 100%;
}
/* --- Calculator Container --- */
/* --- Buttons Container --- */
.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons-container > div {
  margin: 2rem;
  padding: 1rem 2.5rem;
}
.btn,
.zero {
  text-align: center;
  background: #f49f0a;
  color: #ffff;
  border-radius: 1rem;
  font-size: 2rem;
  box-shadow: 0 0.2rem 0 rgb(51, 15, 10);
  transition: all 0.3s;
}
.btnCalc,
.equal,
.plus {
  text-align: center;
  background: #ffff;
  color: rgb(51, 15, 10);
  border-radius: 1rem;
  font-size: 2rem;
  box-shadow: 0 0.2rem 0 rgb(51, 15, 10);
  transition: all 0.3s;
}
.btn:hover,
.zero:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0 rgb(51, 15, 10);
  cursor: pointer;
}
.btnCalc:hover,
.equal:hover,
.plus:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0 rgb(51, 15, 10);
  cursor: pointer;
}
.C {
  background: #ed6a5a;
}
.btn:active, .equal:active, .C:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.2rem 0 rgb(51, 15, 10);
}
.lastchild {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.lastchild > div {
  margin: 2rem;
  padding: 1rem 2.5rem;
}
/* --- Buttons Container --- */
/* --- Animations & Media Q --- */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 300px) {
  html {
    font-size: 42.5%;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 42.5%;
  }
}
@media screen and (min-width: 500px) {
  html {
    font-size: 42.5%;
  }
}
@media screen and (min-width: 700px) {
  html {
    font-size: 52.5%;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 62.5%;
  }
}

/* --- Animations & Media Q --- */
